.ruby-gemset

# Bundler
/.bundle/
/vendor/bundle/

# Rails artifacts
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/storage/*.sqlite3
/storage/*.sqlite3-*

# Tailwind builds (generated)
/app/assets/builds/*
!/app/assets/builds/.keep

# Credentials
/config/master.key
/config/credentials/*.key
.kamal/secrets

# OS/editor
.DS_Store
.idea/
.vscode/


# Ignore key files for decrypting credentials and more.
/config/*.key
.envrc
